<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Resume</title>

		<style>
			h1 {
				text-align: center;
			}

			table {
				font-size: 1.2em;
				width: 80vw;
				margin: 0 10vw 0 10vw;
				height: 150px;
			}

			th{
				text-align: center ;
			}

		</style>

	</head>

	<body>

		<h1>Resume</h1>

		<table class="table-striped table-bordered mt-3 mb-5">
			<thead>
				<tr>
					<th scope="col">Qualification</th>
					<th scope="col">Institute</th>
					<th scope="col">Board/University</th>
					<th scope="col">Year</th>
					<th scope="col">%/CGPA</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="r in resume">
					<td>{{r.quali}}</td>
					<td>{{r.ins}}</td>
					<td>{{r.board}}</td>
					<td>{{r.year}}</td>
					<td>{{r.cgpa}}</td>
				</tr>
			</tbody>
		</table>

		<table class="table-striped table-bordered mt-3 mb-5">
			<thead>
				<tr>
					<th scope="col">Courses</th>
					<th scope="col">University</th>
					<th scope="col">Platform</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="c in courses">
					<td>{{c.course}}</td>
					<td>{{c.uni}}</td>
					<td>{{c.platform}}</td>
				</tr>
			</tbody>
		</table>

	</body>

</html>