<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
        input.ng-invalid {
            background-color: yellow;
        }

        input.ng-valid {
            background-color: lawngreen;
        }

        form.ng-pristine {
            background-color: red;
        }

        form.ng-dirty {
            background-color: mediumaquamarine;
        }
    </style>

    <body ng-app="">
        <form name="myform">
            <h2>My Form</h2>
            FirstName<input name="myname" type="text" ng-model="myname" placeholder="Enter the Name" required
                ng-minlength="3" ng-maxlength="15" />
            <span style="color:red">
                <span ng-show="myform.myname.$error.required">Plz enter name</span>
                <span ng-show="myform.myname.$error.minlength">First name is too small</span>
                <span ng-show="myform.myname.$error.maxlength">First name is too big</span>
            </span><br><br>
            Email<input name="email" type="email" ng-model="email" placeholder="Enter the Name" required />
            <span style="color:red">
                <span ng-show="myform.email.$error.required">Plz enter email</span>
                <span ng-show="myform.email.$error.email">Email is incorrect</span>
            </span>
            <br><br>
            <button ng-disabled="myform.myname.$invalid">Submit</button>
        </form>
    </body>

</html>