<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AngularJs Services Example</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- <script src="app_module.js"></script>
    <script src="math_service.js"></script>
    <script src="math_controller.js"></script> -->
</head>

<body ng-app="myApp">
    <h1>AngularJs Services Example</h1>
    <div ng-controller="mathController">
        <table>
            <tr>
                <td>First Value :
                    <td>
                        <td>
                            <input type="text" ng-model="x" />
                            <td>
            </tr>
            <tr>
                <td>Second Value :
                    <td>
                        <td>
                            <input type="text" ng-model="y" />
                            <td>
            </tr>
            <tr>
                <td>Result is :
                    <td>
                        <td><b>{{result}}</b></td>
                        <td>
            </tr>
        </table>
        <input type="button" ng-click="calcAdd()" value="Addition" />
        <input type="button" ng-click="calcSub()" value="Substraction" />
        <input type="button" ng-click="calcMul()" value="Multiply" />
        <input type="button" ng-click="calcDiv()" value="Division" />
        <br> </div>
</body>
<script>
    // 1st app.js
    var myApp = angular.module("myApp", []);

    // 2nd service.js
    myApp.service("mathService", function() {
    this.add = function(x, y) {
        return parseInt(x) + parseInt(y);
    }
    this.sub = function(x, y) {
        return parseInt(x) - parseInt(y);
    }
    this.mul = function(x, y) {
        return parseInt(x) * parseInt(y);
    }
    this.div = function(x, y) {
        return parseInt(x) / parseInt(y);
    }
})

    // 3rd controller.js
    myApp.controller( "mathController", function($scope, mathService) {
    $scope.x = 0;
    $scope.y = 0;
    $scope.result = 0;
    $scope.calcAdd = function() {
        $scope.result = mathService.add($scope.x, $scope.y)
    }
    $scope.calcSub = function() {
        $scope.result = mathService.sub($scope.x, $scope.y)
    }
    $scope.calcMul = function() {
        $scope.result = mathService.mul($scope.x, $scope.y)
    }
    $scope.calcDiv = function() {
        $scope.result = mathService.div($scope.x, $scope.y)
    }
})
</script>
</html>